<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073363341717-1858v4i73mu6ge5egvbj7qu4b6ge7oon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073363341717-1858v4i73mu6ge5egvbj7qu4b6ge7oon</string>
	<key>API_KEY</key>
	<string>AIzaSyDIjDhIZKVq1S-uPj0SX6PsMGQ8ZlbpJ6I</string>
	<key>GCM_SENDER_ID</key>
	<string>1073363341717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newLearn</string>
	<key>PROJECT_ID</key>
	<string>yoyo11-new-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>yoyo11-new-learn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073363341717:ios:c00c00717de146c3cda69c</string>
</dict>
</plist>